@import  url ( "https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic" );
@import  url ( 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic' );

@keyframes header_anim {
  from {
    преобразовать : translateX ( -120 % );
  }
  to {
    преобразовать : translateX ( 0 );
  }
}

body {
  маржа : 0 ;
  отступ : 0 ;
}

h1 {
  положение : относительное;
  семейство шрифтов : "Montserrat" , без засечек;
  Размер шрифта : 8 эм ;
  font-weight : 700 ;
}

h2 {
  положение : относительное;
  семейство шрифтов : "Montserrat" , без засечек;
  Размер шрифта : 5 эм ;
  font-weight : 700 ;
}

p {
  положение : относительное;
  семейство шрифтов : «Open Sans» , без засечек;
  Размер шрифта : 2 эм ;
  font-weight : 300 ;
}

. header {
  дисплей : гибкий;
  мин-высота : 100 vh ;
  отступ : 8 пикселей  50 пикселей ;
  цвет фона : # 02f ;
  фоновое изображение : url ( "bg.svg" );
  фон-повтор : без повторения;
  background-position : center center;
  размер фона : обложка;
}

. header__title {
  преобразовать : translateX ( 0 );
  имя-анимации : header_anim;
  продолжительность анимации : 1 с ;
  анимация-временная функция : кубический Безье ( 0,68 ,  -0,55 ,  0.265 ,  1.55 );
  текст-преобразование : прописные;
  цвет : # fff ;
  align-self : center;
}

. article {
  положение : относительное;
  мин-высота : 100 vh ;
  отступ : 8 пикселей  50 пикселей ;
}

. article_whitebg :: before ,
. article_bluebg :: before {
  позиция : абсолютная;
  верх : 0 ;
  справа : 0 ;
  внизу : 0 ;
  слева : 0 ;
  содержание : '' ;
}

. article_whitebg :: before {
  фон : rgba ( 255 ,  255 ,  255 ,  0,5 );
}

. article_bluebg :: before {
  фон : rgba ( 0 ,  34 ,  255 ,  0.5 );
}

. article_first ,
. article_second {
  фон-повтор : без повторения;
  background-position : center center;
  размер фона : обложка;
}

. article_first {
  фоновое изображение : url ( "first_bg.jpg" );
}

. article_second {
  фоновое изображение : url ( "second_bg.jpg" );
}

. form {
  положение : относительное;
  ширина : 500 пикселей ;
  маржа : 0 авто;
  выравнивание текста : центр;
}

. form_input ,
. form_textarea {
  дисплей : блок;
  размер коробки : рамка-рамка;
  ширина : 100 % ;
  нижнее поле : 16 пикселей ;
  отступ : 8 пикселей  16 пикселей ;
  переход : трансформация с замедлением 0,3 с ;
  цвет : # 02f ;
  граница : нет;
  радиус границы : 8 пикселей ;
  наброски : нет;
  цвет фона : # fff ;
  семейство шрифтов : «Open Sans» , без засечек;
  Размер шрифта : 1,5 эм ;
  font-weight : 300 ;
}

. form_input :: -webkit-input-placeholder ,
. form_textarea :: -webkit-input-placeholder {
  непрозрачность : 0,6 ;
  цвет : # 02f ;
}

. form_input : фокус ,
. form_textarea : focus {
  переход : трансформация с замедлением 0,3 с ;
  преобразовать : масштаб ( 1.02 ,  1.02 );
}

. form_textarea {
  изменить размер : нет;
}

. form_button {
  дисплей : встроенный блок;
  отступ : 12 пикселей  32 пикселей ;
  переход : все замедление 0,3 с ;
  текст-преобразование : прописные;
  цвет : # fff ;
  граница : нет;
  радиус границы : 8 пикселей ;
  наброски : нет;
  цвет фона : # 02f ;
  фон-клип : рамка-бокс;
  семейство шрифтов : 'Montserrat' , без засечек;
  Размер шрифта : 1,5 эм ;
  font-weight : 700 ;
}

. form_button : hover {
  переход : все замедление 0,3 с ;
  преобразовать : масштаб ( 1.02 ,  1.02 );
  box-shadow : rgba ( 255 ,  255 ,  255 ,  0.3 ) 0  0  16 пикселей  2 пикселей ;
}

. черный {
  цвет : # 000 ;
}

. white {
  цвет : # fff ;
}